body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
.navbar {
  display: flex;
  justify-content: right;
  background-color: #f8f9fa;
  padding: 10px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.nav-bar {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

#logo {
  height: 10vh;
}

.navbar a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.navbar a i {
  margin-right: 5px;
  color: #007bff;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 100px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
